
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AutoSalaSeleccion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>

        @@media print
        {    
            .no-print
            {
                display: none;
            }
        }

        .print-auto-encabezado {
            margin-top: 50px;
        }

        .print-auto-titulos {
            color: black;
            font-size: 20px;
            font-family: 'Times New Roman';
            font-weight: bold;
        }

        .print-auto-titulo {
            margin-bottom: 20px;
        }

        .print-auto-sub-1 {
            margin-bottom: 20px;
        }

        .print-auto-sub-2 {
            margin-bottom: 30px;
        }

        .print-auto-parrafos {
            color: black;
            font-family: 'Times New Roman';
            font-size: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-md-3 col-md-offset-8 text-right print-auto-encabezado">www.corteconstitucional.gov.co</div>
        <div class="col-md-12 text-center print-auto-titulos print-auto-titulo">REPÚBLICA DE COLOMBIA</div>
        <div class="col-md-12 text-center"><img src="/Content/Images/EscudoColombia.jpeg" width="100" height="120" alt=""></div>
        <div class="col-md-12 text-center print-auto-titulos print-auto-sub-1">CORTE CONSTITUCIONAL</div>
        <div class="col-md-12 text-center print-auto-titulos print-auto-sub-2">SALA DE SELECCIÓN NÚMERO DOS</div>
        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos"><p>Bogotá D.C., cuatro (04) de Abril de dos mil dieciocho (2018)</p></div>
        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos"><p><strong>Ref.</strong> Selección  y  reparto de  los  expedientes  de  tutela  cuyos  fallos  pasan  a revisión de la Corte Constitucional.</p></div>

        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos">
            <p>
                La Sala de Selección Número Dos, integrada por los Magistrados designados
                por la Sala Plena de la Corte Constitucional para conformarla, en ejercicio de
                sus competencias constitucionales y legales, en especial de las consagradas en
                los artículos 86 y 241-9 de la Carta Política, 33 del Decreto 2591 de 1991 y 51,
                52,  53  y  55  del  Reglamento  de  la  Corporación<sup>1</sup>.
            </p>
        </div>

        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos">
            <p>
                De los rangos expedientes y, en consonancia con lo dispuesto en el artículo
                53  del  Reglamento  Interno,  la  Sala  de  Selección  analizó: (i) los  expedientes
                preseleccionados,  con  base  en  reseñas  esquemáticas; (ii) los  expedientes
                presentados como solicitudes ciudadanas o peticiones para selección de la Sala;
                y, (iii) los expedientes presentados como solicitudes de insistencia de revisión
                realizadas por distintas autoridades y Magistrados de la Corte Constitucional.
            </p>
        </div>

        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos">
            <p>
                De conformidad con lo dispuesto en el inciso 5º del artículo 55 del Reglamento
                Interno, a continuación se relacionan las peticiones o solicitudes ciudadanas que
                fueron objeto de estudio en la Sala de Selección:
            </p>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered">
                    <tr>
                        <th>No</th>
                        <th>Expediente</th>
                        <th>Accionante</th>
                        <th>Accionado</th>
                        <th>Peticionario</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>T-6.589.815</td>
                        <td>Alberto Peña Puyo </td>
                        <td>Cabildo Indígena Resguardo de Quichaya</td>
                        <td>Alberto Peña Puyo</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos">
            <p>
                A continuación, se relacionan las solicitudes de insistencia recibidas por esta
                Sala de Selección, en virtud de lo dispuesto en el inciso 8º del artículo 55 y en
                el artículo 57 del Reglamento Interno:
            </p>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered">
                    <tr>
                        <th>Expediente</th>
                        <th>Insistencia presentada por:</th>
                    </tr>
                    <tr>
                        <td>T-6.530.747</td>
                        <td>Defensor del Pueblo</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos">
            <p>
                <strong>SÉPTIMO.- SELECCIONAR</strong> para  revisión,  conforme  a  lo  previsto  en  los
                artículos  52  y  55  del  Reglamento  de  la  Corporación,  los  fallos  de  tutela
                correspondientes a los siguientes expedientes:
            </p>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered">
                    <tr>
                        <th>No</th>
                        <th>Expediente</th>
                        <th>Accionante</th>
                        <th>Accionado</th>
                        <th>Criterio de seleccion</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>T-6.544.419 </td>
                        <td>Droguería Electra Ltda, en Restructuración </td>
                        <td>Consejo de Estado, Sección Tercera, Subsección B</td>
                        <td>Objetivo: necesidad de pronunciarse sobre una determinada línea jurisprudencial</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos">
            <p><strong>OCTAVO.- EXCLUIR DE SELECCIÓN</strong> los fallos 
                de tutela correspondientes a los expedientes estudiados por esta Sala en sesión 
                del veintisiete(27) de febrerode dos mil dieciocho(2018), que no fueron 
                mencionados expresamente en el numeral anterior.
            </p>
        </div>

        <div class="col-md-10 col-md-offset-1 text-justify print-auto-parrafos">
            <p><strong>NOVENO.-</strong> De conformidad con lo dispuesto en los artículos 52 y 55 del 
            Reglamento de esta Corporación, los criterios orientadores de selección 
            empleados en relación concada expediente escogido en el numeralséptimo del 
            presente Auto, son meramente indicativos de las razones jurídicas que llevaron 
            a la Sala de Selección a considerar necesaria la revisión de las sentencias de 
            tutela contenidas en los procesos anotados. En consecuencia, bajo ninguna 
            circunstancia habrá de entenderse que dicha motivación supone prejuzgamiento 
            alguno por parte de los miembros de las Salas de Revisión a las cuales, por 
            sorteo, les fueron asignados dichos procesos.</p>
        </div>
    </div>


    <div class="row" id="botonesCor">
        <div class="col-md-2">
           <button class="no-print btn-primary" onclick="printPdf()">Imprimir</button>
        </div>               
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    <script>
        function printPdf() {

            window.print();
        }
    </script>
</body>
</html>
