
@{
    ViewBag.Title = "ConsultaSeleccion";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Consulta selección</h3>
    </div>
</div>



